//
//
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.
/*$primary: #ff6600;      // Naranja vibrante
$secondary: #4e4e4e;    // Gris oscuro
$success: #28a745;      // Verde Bootstrap
$info: #17a2b8;         // Azul claro
$warning: #ffc107;      // Amarillo
$danger: #dc3545;       // Rojo alerta
$light: #f8f9fa;        // Gris muy claro
$dark: #212529;         // Negro grisáceo*/